@{
    ViewData["Title"] = "Home Page";
}

<img src="~/Images/Portal Logo.png" alt="logo" class="logo"/>
<img src="~/Images/Portal DT Image.png" alt="Home Page" class="HomeImage" />
<nav class="Bar">
    <ul class="NavUl">
        <li class="HomeLi" >HOME</li>
        <li class="SignInLi" >SIGN IN</li>
        <li class="AdminLi" >ADMIN</li>
    </ul>
</nav>
<button></button>
<button></button>
<button></button>
<button></button>

