@{
    ViewData["Title"] = "Home Page";
}

    <img src="~/Images/Portal Logo.png" alt="logo" class="logo" />
    
        <img src="~/Images/PortalHome.jpg" alt="Home Page" class="HomeImage" />

        <img src="~/Images/NavBar img.jpg" alt="navigation" class="navigation" />

        <nav class="Bar">
            <ul class="NavUl">
                <li class="HomeLi">HOME</li>
                <li class="SignInLi"><a href="Unit/InsertUnit">SIGN IN</a></li>                
                <li class="AdminLi"><a href="/Unit/Index">ADMIN</a></li>                
            </ul>
        </nav>

        <button></button>
        <button></button>
        <button></button>
        <button></button>
   

