html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color:black;

}

body {
  margin-bottom: 60px;
  background-color:black;
}
.logo {
    display: flex;
    position: relative;
    margin-top: 13px;
    width:12%;
    margin-left:17%;

   

}
.HomeImage {
    display:flex;
    position:absolute;
    margin-left:17%;
    margin-top:38px;
    width:65%;
    border-radius:9px;
}
.navigation {
    position:absolute;
    width:65%;
    margin-top:10%;
    margin-left:17%;
    display:flex;
}


.NavUl {
    list-style-type:none;
    position:relative;
    margin-top:10.2%;
    margin-left:17%;
    display:flex;
    
}
li {
    position:relative;
    display:inline;
    color:white;
    font-size: 1vw;
    padding:10px;
    z-index:1;
   
}
.TourButton {
    position: absolute;
    display: flex;
   border-radius:6px;
   border:2px solid#19e2ef;
    width: 13%%;
    height: 3%;
    left: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #19E2EF;
    z-index:1;
    margin-left:45%;
    margin-top:18%;
    padding-top:1px;

}

.imgbtn {
   
    
}
